workflows/06-generador-informe-asistencia.json
{
  "name": "06 - Generador de Informe Mensual de Asistencia",
  "nodes": [
    {
      "parameters": {
        "content": "## Informe Mensual de Asistencia\n\nEl primer dia de cada mes a las 8:00, este workflow genera automaticamente un informe del mes anterior con el porcentaje de asistencia de cada alumno, alertas por exceso de ausencias, y lo envia a direccion.\n\n**Antes de usar:**\n1. Configurar credenciales de Google Sheets y SMTP\n2. Conectar la hoja de registros de asistencia (generada por el workflow 04)\n3. Cambiar el email de direccion en el nodo de envio\n4. Activar el workflow\n\n**Se complementa con:** Workflow 04 (Control de Asistencia)\n\n**Categoría:** Gestion academica / Informes",
        "height": 330,
        "width": 420,
        "color": 1
      },
      "id": "sticky-06-info",
      "name": "Nota Informativa",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, -40]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000001",
      "name": "Primer Dia del Mes 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "notes": "Se ejecuta automaticamente el dia 1 de cada mes a las 8:00 de la manana. La expresion cron 0 8 1 * * significa: minuto 0, hora 8, dia 1 del mes, cualquier mes, cualquier dia de la semana. Asi, el informe del mes anterior esta listo en el despacho de direccion a primera hora del nuevo mes. Es necesario activar el workflow para que funcione."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000002",
      "name": "Leer Registros Asistencia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [480, 400],
      "notes": "Lee todos los registros de asistencia guardados en la hoja de calculo. Estos registros los genera el workflow 04 (Control de Asistencia Diario) cada vez que un profesor pasa lista. La hoja debe tener las columnas: alumno, curso, presente (true/false), motivo_ausencia, fecha (DD/MM/YYYY) y hora. El nodo Code siguiente se encargara de filtrar solo los del mes anterior.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const registros = $input.all();\nconst hoy = new Date();\n\n// Calculamos que mes y anio corresponden al mes anterior\n// Si estamos en enero, el mes anterior es diciembre del anio pasado\nconst mesAnterior = hoy.getMonth() === 0 ? 11 : hoy.getMonth() - 1;\nconst anio = hoy.getMonth() === 0 ? hoy.getFullYear() - 1 : hoy.getFullYear();\n\nconst meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio',\n               'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst nombreMes = meses[mesAnterior];\n\n// Filtramos solo los registros que corresponden al mes anterior\nconst delMes = registros.filter(r => {\n  const partes = r.json.fecha.split('/');\n  const mes = parseInt(partes[1]) - 1; // Los meses en JS van de 0 a 11\n  const anioR = parseInt(partes[2]);\n  return mes === mesAnterior && anioR === anio;\n});\n\n// Agrupamos los registros por alumno para calcular estadisticas individuales\nconst porAlumno = {};\nfor (const r of delMes) {\n  const nombre = r.json.alumno;\n  if (!porAlumno[nombre]) {\n    porAlumno[nombre] = { total: 0, presentes: 0, ausencias: 0, curso: r.json.curso };\n  }\n  porAlumno[nombre].total++;\n  if (r.json.presente === 'true' || r.json.presente === true) {\n    porAlumno[nombre].presentes++;\n  } else {\n    porAlumno[nombre].ausencias++;\n  }\n}\n\n// Generamos el informe con formato de texto legible\nlet informe = `INFORME DE ASISTENCIA - ${nombreMes} ${anio}\\n`;\ninforme += '='.repeat(50) + '\\n\\n';\n\nlet totalAlumnos = Object.keys(porAlumno).length;\nlet totalAusencias = 0;\n\nfor (const [nombre, datos] of Object.entries(porAlumno)) {\n  const porcentaje = datos.total > 0 ? ((datos.presentes / datos.total) * 100).toFixed(1) : '0.0';\n  informe += `${nombre} (${datos.curso})\\n`;\n  informe += `  Dias lectivos: ${datos.total} | Presencias: ${datos.presentes} | Ausencias: ${datos.ausencias}\\n`;\n  informe += `  Porcentaje de asistencia: ${porcentaje}%\\n`;\n  // Marcamos a los alumnos con mas de 3 ausencias como alerta\n  if (datos.ausencias > 3) {\n    informe += `  ALERTA: Mas de 3 ausencias en el mes\\n`;\n  }\n  informe += '\\n';\n  totalAusencias += datos.ausencias;\n}\n\n// Resumen general al final del informe\ninforme += '\\nRESUMEN GENERAL\\n';\ninforme += '-'.repeat(30) + '\\n';\ninforme += `Total alumnos: ${totalAlumnos}\\n`;\ninforme += `Total ausencias del mes: ${totalAusencias}\\n`;\n\n// Lista de alumnos que necesitan seguimiento\nconst alumnosAlerta = Object.entries(porAlumno)\n  .filter(([_, d]) => d.ausencias > 3)\n  .map(([nombre, _]) => nombre);\n\nif (alumnosAlerta.length > 0) {\n  informe += `\\nAlumnos con mas de 3 ausencias que requieren seguimiento: ${alumnosAlerta.join(', ')}\\n`;\n}\n\nreturn [{ json: { informe, nombreMes, anio, totalAlumnos, totalAusencias, alumnosAlerta: alumnosAlerta.join(', ') } }];"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000003",
      "name": "Generar Informe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400],
      "notes": "Este es el nodo mas complejo del proyecto. Hace tres cosas: primero filtra los registros del mes anterior (detectando automaticamente que mes fue), despues agrupa los datos por alumno calculando presencias, ausencias y porcentaje de asistencia, y finalmente genera un informe de texto con formato profesional incluyendo alertas para alumnos con mas de 3 ausencias. El umbral de 3 ausencias se puede cambiar segun la politica del centro.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "=direccion@centro.edu",
        "subject": "=Informe de Asistencia - {{ $json.nombreMes }} {{ $json.anio }}",
        "message": "=Buenos dias,\n\nAdjunto el informe de asistencia correspondiente al mes de {{ $json.nombreMes }} de {{ $json.anio }}.\n\nResumen rapido:\n- Total alumnos con registros: {{ $json.totalAlumnos }}\n- Total ausencias en el mes: {{ $json.totalAusencias }}\n- Alumnos que necesitan seguimiento: {{ $json.alumnosAlerta || 'Ninguno' }}\n\n---\n\n{{ $json.informe }}\n\n---\nEste informe ha sido generado automaticamente por el Sistema de Automatizacion Educativa.",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000004",
      "name": "Enviar Informe Direccion",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [940, 300],
      "notes": "Envia el informe mensual completo al equipo de direccion del centro. El email incluye un resumen rapido al principio (para quien tiene prisa) y el informe detallado debajo. Cambiar direccion@centro.edu por el email real. Se podria enviar tambien al jefe de estudios anadiendo su email separado por comas.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000005",
      "name": "Archivar Informe",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [940, 500],
      "notes": "Guarda una copia del informe generado en una hoja de archivo historico. Asi el centro tiene un registro de todos los informes mensuales que se han generado, lo que resulta util para hacer comparativas entre meses o para auditorias.",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Primer Dia del Mes 8AM": {
      "main": [
        [
          {
            "node": "Leer Registros Asistencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Registros Asistencia": {
      "main": [
        [
          {
            "node": "Generar Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Informe": {
      "main": [
        [
          {
            "node": "Enviar Informe Direccion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archivar Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "Gestion"
    },
    {
      "name": "Asistencia"
    },
    {
      "name": "Informes"
    }
  ],
  "meta": {
    "instanceId": "n8n-educativo"
  }
}
