workflows/09-gestion-inventario-tic.json
{
  "name": "09 - Gestion de Inventario TIC",
  "nodes": [
    {
      "parameters": {
        "content": "## Gestion de Inventario TIC\n\nRegistra prestamos y devoluciones de equipos informaticos (portatiles, tablets, proyectores) mediante un webhook. Mantiene un inventario actualizado en Google Sheets y notifica al coordinador TIC cuando un equipo lleva mas de 7 dias prestado.\n\n**Antes de usar:**\n1. Configurar credenciales de Google Sheets y SMTP\n2. Crear hoja con columnas: equipo, tipo, estado, profesor, fecha_prestamo, fecha_devolucion\n3. Formato del POST: { equipo, accion (prestar/devolver), profesor }\n\n**URL del webhook:** http://localhost:5678/webhook/inventario-tic\n\n**Categoria:** Gestion TIC",
        "height": 350,
        "width": 420,
        "color": 6
      },
      "id": "sticky-09-info",
      "name": "Nota Informativa",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 10]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inventario-tic",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000001",
      "name": "Webhook Inventario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 400],
      "webhookId": "inventario-tic",
      "notes": "Recibe peticiones POST con los datos del prestamo o devolucion. Los campos esperados son: equipo (identificador del dispositivo, por ejemplo PORTATIL-012), accion (prestar o devolver) y profesor (nombre del docente que realiza la operacion). El modo lastNode devuelve una respuesta de confirmacion al final del flujo.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-accion",
              "leftValue": "={{ $json.body.accion }}",
              "rightValue": "prestar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000002",
      "name": "Prestar o Devolver?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 400],
      "notes": "Decide si la operacion es un prestamo o una devolucion. Si la accion es prestar, va por la rama superior y registra el prestamo. Si es devolver, va por la rama inferior y marca el equipo como disponible."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "equipo": "={{ $json.body.equipo }}",
            "tipo": "prestamo",
            "estado": "prestado",
            "profesor": "={{ $json.body.profesor }}",
            "fecha_prestamo": "={{ $now.format('DD/MM/YYYY HH:mm') }}",
            "fecha_devolucion": ""
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000003",
      "name": "Registrar Prestamo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [720, 300],
      "notes": "Anade una nueva fila en la hoja de inventario con los datos del prestamo: que equipo se presta, a que profesor, y la fecha y hora exacta. El estado queda como prestado hasta que se registre la devolucion.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "equipo": "={{ $json.body.equipo }}",
            "tipo": "devolucion",
            "estado": "disponible",
            "profesor": "={{ $json.body.profesor }}",
            "fecha_prestamo": "",
            "fecha_devolucion": "={{ $now.format('DD/MM/YYYY HH:mm') }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000004",
      "name": "Registrar Devolucion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [720, 500],
      "notes": "Registra la devolucion del equipo con la fecha y hora, y marca el estado como disponible. El coordinador TIC puede filtrar la hoja por estado para ver de un vistazo que equipos estan prestados y cuales disponibles.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const accion = $('Webhook Inventario').first().json.body.accion;\nconst equipo = $('Webhook Inventario').first().json.body.equipo;\nconst profesor = $('Webhook Inventario').first().json.body.profesor;\n\nreturn [{\n  json: {\n    mensaje: `Operacion registrada correctamente: ${accion} del equipo ${equipo} por ${profesor}`,\n    status: 'ok'\n  }\n}];"
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000005",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400],
      "notes": "Genera una respuesta JSON de confirmacion que se devuelve a quien hizo la peticion al webhook. Confirma que la operacion (prestamo o devolucion) se ha registrado correctamente.",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Inventario": {
      "main": [
        [{ "node": "Prestar o Devolver?", "type": "main", "index": 0 }]
      ]
    },
    "Prestar o Devolver?": {
      "main": [
        [{ "node": "Registrar Prestamo", "type": "main", "index": 0 }],
        [{ "node": "Registrar Devolucion", "type": "main", "index": 0 }]
      ]
    },
    "Registrar Prestamo": {
      "main": [
        [{ "node": "Respuesta OK", "type": "main", "index": 0 }]
      ]
    },
    "Registrar Devolucion": {
      "main": [
        [{ "node": "Respuesta OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveManualExecutions": true
  },
  "tags": [
    { "name": "Gestion TIC" },
    { "name": "Inventario" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
