workflows/10-notificacion-cumpleanos-alumnos.json
{
  "name": "10 - Notificacion de Cumpleanos de Alumnos",
  "nodes": [
    {
      "parameters": {
        "content": "## Notificacion de Cumpleanos de Alumnos\n\nCada dia lectivo a las 8:30 revisa la lista de alumnos y detecta los que cumplen anos ese dia. Envia un email al tutor del curso para que pueda felicitarles.\n\n**Antes de usar:**\n1. Configurar credenciales de Google Sheets y SMTP\n2. Crear hoja con columnas: nombre_alumno, fecha_nacimiento (DD/MM/YYYY), curso, email_tutor\n\n**Frecuencia:** Diaria a las 08:30 (lunes a viernes)\n\n**Categoria:** Convivencia y bienestar",
        "height": 290,
        "width": 420,
        "color": 1
      },
      "id": "sticky-10-info",
      "name": "Nota Informativa",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 40]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000001",
      "name": "Cada dia lectivo 8:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 400],
      "notes": "Se ejecuta de lunes a viernes a las 8:30, media hora antes del inicio habitual de clases, para que el tutor pueda preparar la felicitacion. No se ejecuta en fines de semana."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000002",
      "name": "Leer Lista Alumnos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [480, 400],
      "notes": "Lee la hoja de calculo con los datos de todos los alumnos del centro. Las columnas necesarias son: nombre_alumno, fecha_nacimiento en formato DD/MM/YYYY, curso (por ejemplo 3ESO-A), y email_tutor (direccion del tutor responsable del grupo).",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst hoy = new Date();\nconst diaHoy = hoy.getDate();\nconst mesHoy = hoy.getMonth() + 1;\n\nconst cumpleaneros = [];\n\nfor (const item of items) {\n  const fecha = item.json.fecha_nacimiento;\n  if (!fecha) continue;\n  \n  const partes = fecha.split('/');\n  if (partes.length !== 3) continue;\n  \n  const dia = parseInt(partes[0]);\n  const mes = parseInt(partes[1]);\n  const anio = parseInt(partes[2]);\n  \n  if (dia === diaHoy && mes === mesHoy) {\n    const edad = hoy.getFullYear() - anio;\n    cumpleaneros.push({\n      json: {\n        nombre_alumno: item.json.nombre_alumno,\n        curso: item.json.curso,\n        email_tutor: item.json.email_tutor,\n        edad: edad,\n        hay_cumpleanos: true\n      }\n    });\n  }\n}\n\nif (cumpleaneros.length === 0) {\n  return [{ json: { hay_cumpleanos: false } }];\n}\n\n// Agrupar por tutor para enviar un solo email por curso\nconst porTutor = {};\nfor (const c of cumpleaneros) {\n  const email = c.json.email_tutor;\n  if (!porTutor[email]) {\n    porTutor[email] = {\n      email_tutor: email,\n      curso: c.json.curso,\n      alumnos: []\n    };\n  }\n  porTutor[email].alumnos.push(`${c.json.nombre_alumno} (cumple ${c.json.edad} anos)`);\n}\n\nreturn Object.values(porTutor).map(grupo => ({\n  json: {\n    email_tutor: grupo.email_tutor,\n    curso: grupo.curso,\n    lista_cumpleaneros: grupo.alumnos.join('\\n- '),\n    total: grupo.alumnos.length,\n    hay_cumpleanos: true\n  }\n}));"
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000003",
      "name": "Buscar Cumpleanos de Hoy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400],
      "notes": "Compara la fecha de nacimiento de cada alumno con la fecha de hoy (solo dia y mes, no el ano). Si alguien cumple anos hoy, calcula su edad y lo anade a la lista. Los resultados se agrupan por tutor, para que cada tutor reciba un solo email con todos los cumpleaneros de su grupo en vez de un email por cada alumno.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-cumpleanos",
              "leftValue": "={{ $json.hay_cumpleanos }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000004",
      "name": "Alguien Cumple Hoy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 400],
      "notes": "Si hay algun alumno que cumple anos hoy, sigue por la rama superior y envia la notificacion al tutor. Si no hay cumpleanos, el flujo termina sin hacer nada."
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_tutor }}",
        "subject": "=Cumpleanos en tu grupo - {{ $json.curso }} ({{ $now.format('DD/MM/YYYY') }})",
        "message": "=Buenos dias,\n\nHoy es un dia especial en {{ $json.curso }}. Estos alumnos cumplen anos:\n\n- {{ $json.lista_cumpleaneros }}\n\nTotal: {{ $json.total }} cumpleanos hoy.\n\nUn saludo,\nSistema de Automatizacion Educativa",
        "options": {}
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000005",
      "name": "Notificar al Tutor",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1140, 340],
      "notes": "Envia un email al tutor del curso informandole de que alumnos cumplen anos hoy y que edad cumplen. Asi el tutor puede organizar una felicitacion en clase, lo que mejora la convivencia y el bienestar del grupo.",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cada dia lectivo 8:30": {
      "main": [
        [{ "node": "Leer Lista Alumnos", "type": "main", "index": 0 }]
      ]
    },
    "Leer Lista Alumnos": {
      "main": [
        [{ "node": "Buscar Cumpleanos de Hoy", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Cumpleanos de Hoy": {
      "main": [
        [{ "node": "Alguien Cumple Hoy?", "type": "main", "index": 0 }]
      ]
    },
    "Alguien Cumple Hoy?": {
      "main": [
        [{ "node": "Notificar al Tutor", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveManualExecutions": true
  },
  "tags": [
    { "name": "Convivencia" },
    { "name": "Comunicaciones" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
