workflows/11-alerta-absentismo-acumulado.json
{
  "name": "11 - Alerta de Absentismo Acumulado",
  "nodes": [
    {
      "parameters": {
        "content": "## Alerta de Absentismo Acumulado\n\nCada viernes a las 14:00 revisa los registros de asistencia del mes en curso y detecta alumnos con mas de 3 ausencias acumuladas. Envia un informe de alerta al jefe de estudios con los nombres, el numero de faltas y el porcentaje de asistencia.\n\n**Antes de usar:**\n1. Configurar credenciales de Google Sheets y SMTP\n2. Usar la misma hoja de asistencia que alimenta el workflow 04\n3. Columnas necesarias: alumno, curso, presente (true/false), fecha\n4. Configurar el email del jefe de estudios en el nodo \"Enviar Alerta\"\n\n**Frecuencia:** Semanal (viernes a las 14:00)\n**Umbral:** 3 ausencias en el mes en curso\n\n**Categoria:** Gestion academica / Alertas",
        "height": 350,
        "width": 420,
        "color": 2
      },
      "id": "sticky-11-info",
      "name": "Nota Informativa",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 40]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000001",
      "name": "Cada viernes a las 14h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "notes": "Se ejecuta los viernes a las 14:00 para que el jefe de estudios tenga el informe antes de terminar la semana y pueda actuar el lunes."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000002",
      "name": "Leer Registros Asistencia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      },
      "notes": "Lee la hoja de asistencia compartida con el workflow 04. Asi ambos workflows usan la misma fuente de datos."
    },
    {
      "parameters": {
        "jsCode": "const registros = $input.all().map(i => i.json);\nconst hoy = new Date();\nconst mesActual = hoy.getMonth();\nconst anioActual = hoy.getFullYear();\n\n// Filtrar registros del mes en curso\nconst delMes = registros.filter(r => {\n  const partes = (r.fecha || '').split('/');\n  if (partes.length < 3) return false;\n  const mes = parseInt(partes[1], 10) - 1;\n  const anio = parseInt(partes[2], 10);\n  return mes === mesActual && anio === anioActual;\n});\n\n// Agrupar por alumno\nconst porAlumno = {};\nfor (const r of delMes) {\n  const nombre = r.alumno || 'Desconocido';\n  if (!porAlumno[nombre]) {\n    porAlumno[nombre] = { alumno: nombre, curso: r.curso || '', total: 0, ausencias: 0 };\n  }\n  porAlumno[nombre].total++;\n  if (r.presente === false || r.presente === 'false' || r.presente === 'FALSE') {\n    porAlumno[nombre].ausencias++;\n  }\n}\n\n// Filtrar los que superan el umbral de 3 ausencias\nconst UMBRAL = 3;\nconst alertas = Object.values(porAlumno)\n  .filter(a => a.ausencias >= UMBRAL)\n  .map(a => ({\n    alumno: a.alumno,\n    curso: a.curso,\n    ausencias: a.ausencias,\n    dias_registrados: a.total,\n    porcentaje_asistencia: Math.round(((a.total - a.ausencias) / a.total) * 100) + '%'\n  }))\n  .sort((a, b) => b.ausencias - a.ausencias);\n\nreturn alertas.map(a => ({ json: a }));"
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000003",
      "name": "Detectar Absentismo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400],
      "notes": "Agrupa los registros del mes por alumno, cuenta ausencias y filtra los que superan el umbral de 3 faltas. Calcula el porcentaje de asistencia de cada uno."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000004",
      "name": "Hay alumnos en alerta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400],
      "notes": "Si no hay alumnos con mas de 3 ausencias, el workflow termina sin enviar nada. Asi el jefe de estudios solo recibe email cuando hay un problema real."
    },
    {
      "parameters": {
        "jsCode": "const alertas = $input.all().map(i => i.json);\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nconst mes = meses[new Date().getMonth()];\n\nlet tabla = '| Alumno | Curso | Ausencias | Asistencia |\\n';\ntabla += '|--------|-------|-----------|------------|\\n';\nfor (const a of alertas) {\n  tabla += `| ${a.alumno} | ${a.curso} | ${a.ausencias} faltas | ${a.porcentaje_asistencia} |\\n`;\n}\n\nconst cuerpo = `INFORME DE ABSENTISMO - ${mes.toUpperCase()} ${new Date().getFullYear()}\\n\\n`\n  + `Se han detectado ${alertas.length} alumno(s) con 3 o mas ausencias en el mes de ${mes}:\\n\\n`\n  + tabla\n  + `\\nEste informe se genera automaticamente cada viernes. Se recomienda contactar con las familias de los alumnos listados.`;\n\nreturn [{ json: { asunto: `ALERTA ABSENTISMO - ${alertas.length} alumno(s) con faltas acumuladas en ${mes}`, cuerpo, total_alertas: alertas.length } }];"
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000005",
      "name": "Preparar Informe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Formatea el informe con una tabla de alumnos, sus ausencias y porcentaje de asistencia. El asunto del email incluye el numero de alumnos en alerta para que sea visible de un vistazo."
    },
    {
      "parameters": {
        "sendTo": "jefe.estudios@centro.edu",
        "subject": "={{ $json.asunto }}",
        "emailType": "text",
        "message": "={{ $json.cuerpo }}",
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000006",
      "name": "Enviar Alerta",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 300],
      "credentials": {
        "smtp": {
          "id": "",
          "name": ""
        }
      },
      "notes": "Envia el informe al jefe de estudios. Cambiar la direccion de correo en la configuracion del nodo."
    }
  ],
  "connections": {
    "Cada viernes a las 14h": {
      "main": [
        [{ "node": "Leer Registros Asistencia", "type": "main", "index": 0 }]
      ]
    },
    "Leer Registros Asistencia": {
      "main": [
        [{ "node": "Detectar Absentismo", "type": "main", "index": 0 }]
      ]
    },
    "Detectar Absentismo": {
      "main": [
        [{ "node": "Hay alumnos en alerta", "type": "main", "index": 0 }]
      ]
    },
    "Hay alumnos en alerta": {
      "main": [
        [{ "node": "Preparar Informe", "type": "main", "index": 0 }],
        []
      ]
    },
    "Preparar Informe": {
      "main": [
        [{ "node": "Enviar Alerta", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "educativo" },
    { "name": "gestion-academica" },
    { "name": "alertas" }
  ]
}
